@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 115, 161);
}

.container{
    width: 690px;
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
}

.wrapper{
    border: 1px solid gray;
    border-radius: 6px;
}

.text-input{
    display: flex;
}

.text-input textarea{
    height: 250px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
}